<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sentibank</servlet-name>
    <servlet-class>edu.cmu.cs.auton.aperture.server.SentiBankServlet</servlet-class>
    <init-param>
      <param-name>sentibankUrl</param-name>
      <param-value>http://sentibankdig.isi.edu/sentiBank.php</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sentibank</servlet-name>
    <url-pattern>/aperture/*</url-pattern>
  </servlet-mapping>
</web-app>